* {
    font-family: arial;
}

.button {
    padding: 6px 20px;
    font-size: 14px;
    color: black;
    background-color: #3385ff;
    border: 2px solid #002966;
    border-radius: 3px;
}

.button:hover {
    background-color: #b3d1ff;
    border: 2px solid #0047b3;
}

.inputArea1 {
    padding: 5px 10px;
    background-color: #80b3ff;
    border: 2px solid #002966;
    font-size: 16px;
}

.inputArea2 {
    border-radius: 3px;
    background-color: #80b3ff;
    border: 2px solid #002966;
    resize: none;
    font-size: 16px;
}

.chatMessage {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #80b3ff;
    border: 2px solid #002966;
    border-radius: 5px;
    width: 52%;
}

.chatMessage:hover {
    background-color: #9f9fdf;
    border: 2px solid #3939ac;
}

.systemMessage {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #e6e6e6;
    border: 1px dashed #b3b3b3;
    border-radius: 5px;
    width: 52%;
}

.systemMessage:hover {
    background-color: #f2f2f2;
    border: 1px dashed #b3b3b3;
}

.userList {
    font-size: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: #b3d1ff;
    border-bottom: 2px solid #80b3ff;
}

.customForm {
    padding-left: 15px;
}

#chatroomHeader {
    border-radius: 5px;
    border: 2px solid #80b3ff;
    background-color: #b3d1ff;
}

hr {
    border: 1px solid #002966;
}

p {
    font-size: 16px;
}

label {
    font-size: 16px;
}

body {
    background-color: #cce0ff;
}
